<%= render partial: 'spree/admin/shared/bulk_product_edits_tabs', locals: { current: :product_details } %>

<%= form_for( [:admin, @bulk_product_edit] )do |f| %>
  <div data-hook="admin_bulk_product_edit_form_fields">
    <%= hidden_field_tag 'update_product_details', 1 %>

    <div class="row">

      <div class="col-md-4">
        <div data-hook="admin_bulk_product_edit_form_master_price">
          <%= f.field_container :master_price, class: ['form-group'] do %>
              <%= f.label :master_price, Spree.t(:master_price) %>
              <%= f.text_field :master_price, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_product_price">
          <%= f.field_container :product_price, class: ['form-group'] do %>
              <%= f.label :product_price, Spree.t(:product_price) %>
              <%= f.text_field :product_price, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_sample_price">
          <%= f.field_container :sample_price, class: ['form-group'] do %>
              <%= f.label :sample_price, Spree.t(:sample_price) %>
              <%= f.text_field :sample_price, class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        <div data-hook="admin_bulk_product_edit_form_available_on">
          <%= f.field_container :available_on, class: ['form-group'] do %>
              <%= f.label :available_on, Spree.t(:available_on) %>
              <%= f.text_field :available_on, class: 'datepicker form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_expires_on">
          <%= f.field_container :expires_on, class: ['form-group'] do %>
              <%= f.label :expires_on, Spree.t(:expires_on) %>
              <%= f.text_field :expires_on, class: 'datepicker form-control' %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4">
        <div data-hook="admin_bulk_product_edit_form_weight">
          <%= f.field_container :weight, class: ['form-group'] do %>
              <%= f.label :weight, Spree.t(:weight) %>
              <%= f.text_field :weight, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_height">
          <%= f.field_container :height, class: ['form-group'] do %>
              <%= f.label :height, Spree.t(:height) %>
              <%= f.text_field :height, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_width">
          <%= f.field_container :width, class: ['form-group'] do %>
              <%= f.label :width, Spree.t(:width) %>
              <%= f.text_field :width, class: 'form-control' %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_depth">
          <%= f.field_container :depth, class: ['form-group'] do %>
              <%= f.label :depth, Spree.t(:depth) %>
              <%= f.text_field :depth, class: 'form-control' %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div data-hook="admin_bulk_product_edit_form_sale_unit">
          <%= f.field_container :sale_unit, class: ['form-group'] do %>
              <%= f.label :sale_unit, Spree.t(:sale_unit) %>
              <%= f.collection_select(:sale_unit_id, @sale_units, :id, :name, { include_blank: true }, { class: 'form-control' }) %>
          <% end %>
        </div>

        <div data-hook="admin_bulk_product_edit_form_country_of_origin">
          <%= f.field_container :country_of_origin, class: ['form-group'] do %>
              <%= f.label :country_of_origin, Spree.t(:country_of_origin) %>
              <%= f.collection_select(:country_of_origin, @countries, :id, :name, { include_blank: true }, { class: 'form-control' }) %>
          <% end %>
        </div>
      </div>


    </div>
  </div>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_bulk_product_edits_url, icon: 'remove' %>
  </div>
<% end %>
