<%= form_tag admin_bulk_product_edit_bulk_product_edit_items_path(@bulk_product_edit) do %>
    <%= hidden_field_tag 'select_by', select_by %>

    <table class="table" id="bulk_product_edit_items" data-hook>
      <thead>
      <tr id="bulk_product_edit_items_header" data-hook="bulk_product_edit_items_header">
        <th><%= check_box_tag 'all_product_ids', 'all', false, { id: 'product_ids_all' } %></th>
        <th class="product_id"><%= Spree.t(:product_id) %></th>
        <th class="sku"><%= Spree.t(:sku) %></th>
        <th class="name"><%= Spree.t(:name) %></th>
        <th class="actions"></th>
      </tr>
      </thead>

      <tbody id="bulk_product_edit_items_body">
      <% @collection.each do |item| %>
          <tr>
            <td><%= check_box_tag 'product_ids[]', item['id'], true, { id: "product_ids_#{item['id']}" } %></td>
            <td><%= item['id'] %></td>
            <td><%= item.master['sku'] %></td>
            <td><%= item['name'] %>
            <td class="actions">
              <%= link_to_with_icon('eye-open', nil, product_url(item['id']), { :name => 'View', :no_text => true, :class => 'btn btn-primary btn-sm', :target => '_blank' }) %>
            </td>
          </tr>
      <% end unless @collection.nil? %>
      </tbody>
    </table>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.select'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_bulk_product_edits_url, icon: 'remove' %>
    </div>
<% end %>
