<%= render partial: 'spree/admin/shared/bulk_product_edits_tabs', locals: { current: :products } %>

<script type="text/javascript">
  $(function(){

    $('#product_ids_all').click(function(){
      input_name = 'product_ids[]';
      $('input[name="'+input_name+'"]').prop('checked', $(this).is(':checked'));
    });

    $('#product_taxon_ids').change(function(e){
      var display_area = $('#bulk_product_edit_items_body');
      $.ajax({
        url: '<%= api_v1_bulk_product_edit_items_products_for_selection_path %>',
        data: {
          bulk_product_edit_id: <%= @bulk_product_edit.id %>,
          taxon_ids: e.val,
          token: Spree.api_key
        },
        success: function(data) {
          display_area.empty();
          if (data.products.length === 0) {
            // return display_area.html("<div class='alert alert-info'>" + Spree.translations.no_results + "</div>");
          } else {
            template = '<tr>' +
                '<td><input type="checkbox" name="product_ids[]" value="PRODUCT_ID"SELECTED></td>' +
                '<td>PRODUCT_ID</td>' +
                '<td>PRODUCT_NAME</td>' +
                '</tr>';
            ref = data.products;
            rows = '';
            for (i = 0, len = ref.length; i < len; i++) {
              rows +=  template.replace(/PRODUCT_ID/g, ref[i]['id'])
                  .replace(/SELECTED/, (ref[i]['selected'] ? ' checked' : ''))
                  .replace(/PRODUCT_NAME/, ref[i]['name']);
            }
            return display_area.html(rows);
          }
        }
      });
    });
  });
</script>

<div class="form-group taxons_rule_taxons">
  <%= label_tag "bulk_product_edit_taxon_ids_string", Spree.t('taxon_rule.choose_taxons') %>
  <%= hidden_field_tag "bulk_product_edit[taxon_ids_string]", '', class: "taxon_picker", id: 'product_taxon_ids' %>
</div>

<%= form_tag admin_bulk_product_edit_bulk_product_edit_items_path(@bulk_product_edit) do %>
  <table class="table" id="bulk_product_edit_items" data-hook>
    <thead>
    <tr data-hook="bulk_product_edit_items_header">
      <th><%= check_box_tag 'all_product_ids', 'all', false, { id: 'product_ids_all' } %></th>
      <th><%= Spree.t(:product_id) %></th>
      <th class="name"><%= Spree.t(:name) %></th>
    </tr>
    </thead>

    <tbody id="bulk_product_edit_items_body">
      <% @collection.each do |item| %>
        <tr>
          <td><%= check_box_tag 'product_ids[]', item['id'], true, { id: "product_ids_#{item['id']}" } %></td>
          <td><%= item['id'] %></td>
          <td><%= item['name'] %>
        </td>
      <% end unless @collection.nil? %>
    </tbody>
  </table>

  <div class="form-actions" data-hook="buttons">
    <%= button Spree.t('actions.select'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), admin_bulk_product_edits_url, icon: 'remove' %>
  </div>
<% end %>
