<%= render partial: 'spree/admin/shared/bulk_product_edits_tabs', locals: { current: :products_by_taxon } %>

<script type="text/javascript">
  <%= render partial: 'spree/admin/bulk_product_edit_items/select', formats: :js, locals: { select_by: 'taxon' } %>
</script>

<div class="form-group taxons_rule_taxons">
  <%= label_tag "bulk_product_edit_taxon_ids_string", Spree.t('taxon_rule.choose_taxons') %>
  <%= hidden_field_tag "bulk_product_edit[taxon_ids_string]", '', class: "taxon_picker", id: 'product_taxon_ids' %>
</div>

<%= render partial: 'spree/admin/bulk_product_edit_items/items_list_form', locals: { select_by: 'taxon' } %>
