<%= render partial: 'spree/admin/shared/bulk_product_edits_tabs', locals: { current: :products_by_sku } %>

<script type="text/javascript">
  <%= render partial: 'spree/admin/bulk_product_edit_items/select', formats: :js, locals: { select_by: 'sku' } %>
</script>

<div class="form-group product_skus">
  <%= label_tag "bulk_product_edit_skus", Spree.t('enter_product_skus') %>
  <%= text_area_tag "bulk_product_edit[skus]", '', { id: 'product_skus', class: 'form-control' } %>
</div>

<%= render partial: 'spree/admin/bulk_product_edit_items/items_list_form', locals: { select_by: 'sku' } %>
